* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {

  font-family: 'Montserrat', sans-serif; }

.wrap {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  margin: auto;

}

.contenedor-formulario {
  width: 100%;
  color: #f2f2f2;
  position: relative;
  z-index: 40; }

  .contenedor-formulario h2{

    margin-top: 15px;
    margin-bottom: 0;
    font-size: 1.65rem;
 
  }


  .contenedor-formulario .formulario {
    width: 100%;
    overflow: hidden;
    margin: auto; }
    .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px;
      width: 100%; }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="email"]
       {
          font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        border-radius: 0;
        color: #f29200;
        width: 100%;
        outline: none;
        padding: 8px;
        background: none;
        border: 2px solid #fff; }

         .contenedor-formulario .formulario .input-group input[type="text"]:hover,
      .contenedor-formulario .formulario .input-group input[type="email"]:hover
       {
        border-color: none;
       }
       

        .contenedor-formulario .formulario .input-group input[type="text"].error,
        .contenedor-formulario .formulario .input-group input[type="email"].error,
        .contenedor-formulario .formulario .input-group input[type="password"].error {
          border: 2px solid #D32F2F; }
          .contenedor-formulario .formulario .input-group input[type="text"].error + label,
          .contenedor-formulario .formulario .input-group input[type="email"].error + label,
          .contenedor-formulario .formulario .input-group input[type="password"].error + label {
            color: #D32F2F; }
      .contenedor-formulario .formulario .input-group label {
        color: #fff; }
        .contenedor-formulario .formulario .input-group label.label {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 15px;
          font-size: 16px;
          line-height: 16px;
          position: absolute;
          top: 16px;
          left: 0; }
          .contenedor-formulario .formulario .input-group label.label.active {
            top: -12px;
            font-size: 12px;
            line-height: 12px;
            color: #B6B6B6; }
      .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
        display: inline-block;
        cursor: pointer;
        color: #282e3f;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }

        .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
           }
      .contenedor-formulario .formulario .input-group.error label {
        color: #D32F2F; }
        .contenedor-formulario .formulario .input-group.error label:hover {
          background: rgba(211, 47, 47, 0.2); }
        .contenedor-formulario .formulario .input-group.error label:before {
          border: 2px solid #f29200; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
          padding: 5px 15px;
          background: #303F9F;
          border-radius: 2px;
          color: #f2f2f2; }
      .contenedor-formulario .formulario .input-group.checkbox label:before {
        border-radius: 3px; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #30453F9F;
          color: #f2f2f2;
          padding: 5px 15px; }
    .contenedor-formulario .formulario input[type="submit"] {
      background: url(../img/dot.png) repeat;
      background: #DF4312; /* For browsers that do not support gradients */background: -webkit-linear-gradient(left, #F29200 , #DF4312); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(right, #F29200, #DF4312); /* For Opera 11.1 to 12.0 */background: -moz-linear-gradient(right, #F29200, #DF4312); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to right, #F29200 , #DF4312); /* Standard syntax */
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      padding: 15px;
      border: none;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      border: 1px solid #cb9b2f;
      transition: all 0.3s ease; }
      .contenedor-formulario .formulario input[type="submit"]:hover {
      background: url(../img/dot.png) repeat;  background-color: none;border: none; border: 1px solid #cb9b2f;  }

/*# sourceMappingURL=estilos.css.map */
